.loaderWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  padding: 1rem;
}

.dot {
  width: 8px;
  height: 8px;
  background-color: #e9004c;
  border-radius: 50%;
  animation: bounce 0.4s infinite alternate;
}

.dot:nth-child(2) {
  animation-delay: 0.15s;
}
.dot:nth-child(3) {
  animation-delay: 0.3s;
}

@keyframes bounce {
  to {
    transform: translateY(-6px);
    opacity: 0.6;
  }
}
